In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
import pandas as pd

# Load the CSV file into a DataFrame
url = 'https://raw.githubusercontent.com/divyansha1115/Graduate-Admission-Prediction/master/Admission_Predict.csv'
df = pd.read_csv(url)

In [20]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [42]:
df=df.drop(columns=["Serial No.","University Rating"])

In [21]:
'''GRE Score: Graduate Record Examination Score
TOEFL Score: Test of English as a Foreign Language Score
University Rating: Rating or ranking of the university
SOP: Statement of Purpose
LOR: Letter of Recommendation
CGPA: Cumulative Grade Point Average
Research: Whether the student has research experience (1 for Yes, 0 for No)
Chance of Admit: Probability or likelihood of admission'''

'GRE Score: Graduate Record Examination Score\nTOEFL Score: Test of English as a Foreign Language Score\nUniversity Rating: Rating or ranking of the university\nSOP: Statement of Purpose\nLOR: Letter of Recommendation\nCGPA: Cumulative Grade Point Average\nResearch: Whether the student has research experience (1 for Yes, 0 for No)\nChance of Admit: Probability or likelihood of admission'

In [22]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [28]:
x=df.drop(columns='Chance of Admit ')
y=df['Chance of Admit ']
x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.2,random_state=42)

In [29]:
print(df.columns)

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [30]:
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [31]:
model = Sequential()

In [44]:
model.add(Dense(4, activation="tanh", input_dim=6))
model.add(Dense(3, activation="tanh"))
model.add(Dense(1, activation="tanh"))

In [45]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 4)                 36

 dense_4 (Dense)             (None, 3)                 15

 dense_5 (Dense)             (None, 1)                 4

 dense_7 (Dense)             (None, 4)                 8

 dense_8 (Dense)             (None, 3)                 15

 dense_9 (Dense)             (None, 1)                 4

=================================================================
Total params: 82 (328.00 Byte)
Trainable params: 82 (328.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [46]:
model.compile(loss="binary_crossentropy",optimizer="adam")

In [47]:
model.fit(x_tr,y_tr,epochs=10)

Epoch 1/10
10/10 [==============================] - 1s 3ms/step - loss: 0.6350
Epoch 2/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6102
Epoch 3/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5962
Epoch 4/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5898
Epoch 5/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5880
Epoch 6/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5881
Epoch 7/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5881
Epoch 8/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5879
Epoch 9/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5879
Epoch 10/10
10/10 [==============================] - 0s 3ms/step - loss: 0.5880

In [48]:
y_log=model.predict(x_te)

3/3 [==============================] - 0s 4ms/step

In [49]:
y_log

array([[0.72727984],
       [0.7272943 ],
       [0.7272642 ],
       [0.72726977],
       [0.7272659 ],
       [0.7272642 ],
       [0.72735405],
       [0.7272654 ],
       [0.7272828 ],
       [0.72726566],
       [0.7272642 ],
       [0.727288  ],
       [0.72726446],
       [0.7272645 ],
       [0.7272674 ],
       [0.7272642 ],
       [0.7272942 ],
       [0.72744304],
       [0.72727317],
       [0.72729814],
       [0.7272651 ],
       [0.7272642 ],
       [0.7273391 ],
       [0.7273014 ],
       [0.7272642 ],
       [0.72733146],
       [0.72726613],
       [0.72728723],
       [0.7272897 ],
       [0.72726476],
       [0.72733116],
       [0.7272666 ],
       [0.7272841 ],
       [0.72726476],
       [0.7272766 ],
       [0.72726816],
       [0.7272654 ],
       [0.72732496],
       [0.72726953],
       [0.7272658 ],
       [0.72733706],
       [0.72726446],
       [0.72726446],
       [0.7272642 ],
       [0.7272646 ],
       [0.72732097],
       [0.7272653 ],
       [0.72727174],
       [0.7272642 ],
       [0.72726756],
       [0.7272642 ],
       [0.7272952 ],
       [0.7272949 ],
       [0.7272642 ],
       [0.72733694],
       [0.7272645 ],
       [0.7272775 ],
       [0.7272681 ],
       [0.7272645 ],
       [0.72726697],
       [0.7272679 ],
       [0.7272899 ],
       [0.7272836 ],
       [0.7272654 ],
       [0.7272653 ],
       [0.7272642 ],
       [0.72737515],
       [0.7272749 ],
       [0.727318  ],
       [0.7272646 ],
       [0.72729987],
       [0.7272662 ],
       [0.7272642 ],
       [0.7272642 ],
       [0.72746587],
       [0.7272769 ],
       [0.7272753 ],
       [0.7274194 ],
       [0.7272667 ],
       [0.72728884]], dtype=float32)

In [50]:
from sklearn.metrics import accuracy_score

In [51]:
from sklearn.metrics import mean_squared_error

# Assuming y_pred is your predicted values
mse = mean_squared_error(y_te, y_log)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.025871665831269264