In [36]:
import pandas as pd
from google.colab import files

In [37]:
up=files.upload()

Saving Churn_Modelling.csv to Churn_Modelling (1).csv

In [38]:
df=pd.read_csv('Churn_Modelling.csv')

In [39]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [40]:
df.shape

(10000, 14)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [42]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [43]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [44]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [45]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [46]:
df.sample()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8827,638,Spain,Male,41,7,0.0,2,1,0,43889.41,0

In [47]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [48]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [49]:
x=df.drop(columns=['Exited'])
y=df['Exited']

In [50]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.2,random_state=1)

In [51]:
x_tr.shape

(8000, 11)

In [52]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
x_tr_scaled=scalar.fit_transform(x_tr)
x_te_scaled=scalar.transform(x_te)

In [53]:
x_tr_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [54]:
import tensorflow

In [55]:
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [56]:
model=Sequential()
model.add(Dense(3,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

In [57]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 3)                 36

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 40
Trainable params: 40
Non-trainable params: 0
_________________________________________________________________

In [58]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [64]:
model.fit(x_tr_scaled,y_tr,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4253
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4232
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4212
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4193
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4174
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4156
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4139
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4121
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4104
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4089
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4073
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4060
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4046
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4034
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4022
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4012
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4001
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3991
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3982
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3974
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3966
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3958
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3951
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3944
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3937
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3931
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3925
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3919
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3913
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3907
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3901
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3895
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3889
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3882
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3877
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3870
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3862
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3854
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3847
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3838
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3829
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3822
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3814
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3804
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3795
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3786
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3778
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3770
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3762
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3755
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3748
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3742
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3735
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3729
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3724
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3718
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3713
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3708
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3703
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3699
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3695
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3691
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3686
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3683
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3679
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3676
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3672
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3669
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3666
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3662
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3659
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3656
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3653
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3651
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3648
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3644
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3643
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3640
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3637
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3634
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3632
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3629
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3627
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3624
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3622
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3619
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3617
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3615
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3612
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3610
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3608
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3607
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3603
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3601
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3599
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3597
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3595
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3594
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3590
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3589

In [65]:
y_log=model.predict(x_te_scaled)

63/63 [==============================] - 0s 1ms/step

In [66]:
import numpy as np

y_pred=np.where(y_log>0.5,1,0)

In [67]:
from sklearn.metrics import accuracy_score
accuracy_score(y_te,y_pred)

0.8565